@media only screen and (min-width: 32.5em) {
    /* --- HAMBURGER MENU ----*/
    .nav_menu li:first-child {
        display: none;
    }
    /* ---- NAV MENU ----*/
    .nav_menu {
        display: flex;
    }
    .nav_menu li {
        display: inline;
        flex: 1 1 auto;
        text-align: center;
    }
    /* ---- WEATHER ---- */
    .weather {
        max-width: 350px;
        display: grid;
        grid-template-columns: 1fr 30%;
        grid-template-rows: 20% 1fr;
        margin: auto;
    }
    .weather h2 {
        grid-row: 1;
        grid-column: 1/ 3;
        text-align: center;
        margin-top: 0px;
    }
    .weather_image {
        grid-column: 2;
        grid-row: 2;
    }
    .weather_image img {
        height: auto;
        width: 100%;
        margin: auto;
    }
    .text_weather {
        grid-column: 1;
        grid-row: 2;
    }
    .text_weather p {
        font-size: .9rem;
        display: flex;
    }
    #currTemp {
        font-size: 1.7rem;
    }
    .forecast {
        margin: auto;
        margin-top: 40px;
    }
    /* ---- DIRECTORY ----*/
    .card_container {
        width: auto;
        margin: auto;
    }
    /*---- LOCATION MAP ---- */
    #location_map {
        max-width: 600px;
        height: 450px;
        margin: auto;
    }
    /* ---- FOOTER ---- */
    footer {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    #footer_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #map {
        width: auto;
        text-align: center;
    }
    iframe {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    .contact_information {
        line-height: 1.1em;
        padding: 40px;
    }
    #botom_footer {
        text-align: center;
        width: 100%;
    }
}