/* ---- HEADER FONTS ---- */

h1,
h2,
h3 {
    font-size: 1.3em;
    text-align: center;
    font-family: 'RocknRoll One';
}


/* ---- TEXT FONTS ---- */

p,
a,
il,
table,
form {
    font-family: 'Gudea', sans-serif;
}

.nav_menu a {
    font-family: 'IBM Plex Sans';
    font-size: 20px;
    font-weight: 700;
}

body {
    margin: 0px;
}


/* ---- HEADER ---- */

header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #AC3B61;
    color: #ffffff;
}

header img {
    width: 150px;
}


/* ---- NAV MENU ---- */

nav {
    width: 100%;
    margin: 0px;
}

.nav_menu {
    background-color: #123C69;
    margin: 0px;
}

ul.nav_menu {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    width: auto;
}

.nav_menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav_menu a:hover {
    background-color: #BAB2B5;
    color: black;
}

.active a {
    background-color: #EEE2DC;
    color: #000000;
}


/* ---- HAMBURGER MENU ---- */

.nav_menu li:first-child {
    display: block;
}

.nav_menu {
    padding: 0px;
}

.nav_menu li {
    display: none;
}

.responsive li {
    display: block;
}


/* ---- HOME PICTURES ---- */

.pictures {
    display: grid;
    height: 100%;
    margin: 0;
    padding: 0;
}

.pictures img {
    /* max-width: 100%;
    max-height: 100vh; */
    width: 100%;
    height: auto;
    margin: auto;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-wrap: wrap;
}


/* ---- ADS ---- */

.invite_join {
    max-width: 200px;
    margin: auto;
    display: block;
    align-self: stretch;
    text-transform: capitalize;
    font-weight: 800;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px;
    line-height: 1.5rem;
}

#objective {
    width: 75%;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.companies_ads {
    margin: auto;
}

.companies_ads section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    border: solid 1px #dddddd;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

.companies_ads section .card_text_area {
    grid-column: 1;
    grid-row: 1;
    padding: 0px 20px;
    font-size: .8rem;
}

.companies_ads section .card_logo_area {
    grid-column: 2;
}


/*---- EVENTS ----*/

.events {
    width: 45%;
    max-width: 160px;
    font-family: 'Gudea', sans-serif;
    font-size: smaller;
    margin: auto;
}

.events ul {
    list-style-type: none;
    padding-left: 0px;
}

.event {
    border: solid 1px #123C69;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 20% 1fr;
    padding: 0px;
    margin-bottom: 3px;
}

.event .event_date {
    background-color: #123C69;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    padding: 3px;
    margin: 0px
}

.event .event_heading {
    font-size: .7rem;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.fremont_images {
    width: 40%;
    margin: auto;
    padding: 0px;
}

.fremont_images img {
    width: 100%;
    height: auto;
}


/* ---- WEATHER ---- */

.weather {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin: 40px auto;
}

.weather h2 {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    margin-top: 0px;
}

.weather_image {
    grid-row: 2;
    display: flex;
    align-content: center;
}

.weather_image img {
    height: auto;
    width: auto;
    margin: auto;
}

.text_weather {
    grid-row: 3;
    align-content: center;
    margin: auto;
}

.text_weather p {
    font-size: .9rem;
    margin: auto;
}

#currTemp {
    font-size: 1.1rem;
}

.forecast {
    background-color: #e4e4e4;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    max-width: 320px;
}

.forecast h2 {
    display: block;
    padding: 18px 5px;
}

#day1,
#day2,
#day3 {
    max-width: 100px;
    padding: 8px;
    text-align: center;
}

#day1 img,
#day2 img,
#day3 img {
    width: 100%;
    height: auto;
}


/* ---- JOIN PAGE ---- */

.join_form_container {
    width: 85%;
    max-width: 500px;
    margin: 50px auto;
}

.join_form_container form fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.top {
    margin: 8px;
}

.submitBtn {
    padding: 10px;
}


/* ---- DIRECTORY ---- */

.card_container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: space-between;
    justify-content: center;
    max-width: 1000px;
}

#buttons_bar {
    max-width: 100px;
    display: flex;
    align-content: flex-start;
    margin: auto;
}

.button {
    margin: 5px;
}

.card_container section {
    max-width: 300px;
    border: solid 2px #e6e6e6;
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

.card_logo_area {
    padding: 20px;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    align-items: center;
    width: auto;
}

.card_logo_area img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.card_text_area {
    grid-row: 2;
    grid-column: 1;
    padding: 40px 20px;
    border-top: solid 2px #e6e6e6;
    height: auto;
    margin-bottom: 0px;
}

.card_list {
    display: block;
}

.card_list section {
    max-width: 600px;
    background-color: #f1eff0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card_list img{
    display: none;
}

.card_list .card_logo_area {
    display: none;
}

.card_list .card_text_area {
    padding: 8px;
}

.card_list .card_text_area p, h2{
    margin: 2px;
    text-align: left;
    font-size: .9rem;
}


/* ---- FREMONT ----*/

.fremont_text {
    margin: auto
}

.fremont_text p {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}


/* ---- CONTACT US ---- */

.contact_info {
    text-align: center;
    margin: 30px;
}

.contact_us_form {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 40px;
}

.contact_us_form form fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 20px;
}

.buss_description {
    height: 200px;
    width: 80%;
    display: block;
}

#location_map iframe {
    height: 50vh;
    width: 100%;
}

.board_directors {
    columns: 2;
    margin: auto;
    padding: 15px 15px 15px 40px;
    max-width: 600px;
    text-align: center;
}

.name_highlight {
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.business_background {
    margin-top: 0px;
    font-size: .7rem;
}


/* ---- FOOTER ---- */

footer {
    width: 100%;
    margin: auto;
    height: auto;
    margin-bottom: 0px;
    margin-top: 40px;
    background-color: #123C69;
    color: #ffffff;
    text-align: center;
    max-width: 900px;
    font-size: .8em;
    display: flex;
    flex-wrap: wrap;
}

#footer_container {
    margin: 0px;
    width: 100%;
}

#map {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.contact_information {
    background-color: #BAB2B5;
    color: #000000;
    padding: 30px;
    line-height: .2em;
}

.contact_information p {
    display: block;
    text-align: left;
}

#social-icons {
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#botom_footer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#botom_footer a {
    color: #ffffff;
}