/* ---- HEADER FONTS ---- */

h1,
h2,
h3 {
    font-family: 'Old Standard TT', serif;
    font-size: 1.3em;
}


/* ---- TEXT FONTS ---- */

p,
a,
il,
table {
    font-family: 'Gudea', sans-serif;
}

body {
    margin: 0px;
}


/* ---- HEADER ---- */

header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #AC3B61;
    color: #ffffff;
}

header img {
    width: 150px;
}


/* ---- NAV MENU ---- */

nav {
    width: 100%;
    margin: 0px;
}

.nav_menu {
    background-color: #123C69;
    margin: 0px;
}

ul.nav_menu {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    width: auto;
}

.nav_menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    display: block;
}

.nav_menu a:hover {
    background-color: #BAB2B5;
    color: black;
}

.active a {
    background-color: #EEE2DC;
    color: #000000;
}


/* ---- HAMBURGER MENU ---- */

.nav_menu li:first-child {
    display: block;
}

.nav_menu {
    padding: 0px;
}

.nav_menu li {
    display: none;
}

.responsive li {
    display: block;
}


/* ---- WEATHER ---- */

.forecast {
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 300px;
}

.forecast h2 {
    display: block;
    padding: 20px 5px;
}

#day1,
#day2,
#day3 {
    width: 100px;
    padding: 8px;
    text-align: center;
}


/* ---- JOIN ---- */

.join_form_container form fieldset {
    display: flex;
    flex-direction: column;
}


/* ---- DIRECTORY ---- */
.card_container section {
    max-width: 300px;
    border: solid 2px #e6e6e6;
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

.card_logo_area {
    grid-column: 1;
    grid-row: 1;
    margin: 0px;
}

.card_logo_area img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

/* ---- CONTACT US ---- */

.contact_us_form form fieldset {
    display: flex;
    flex-direction: column;
}


/* ---- FOOTER ---- */

footer {
    width: 100%;
    margin: auto;
    height: auto;
    margin-bottom: 0px;
    background-color: #123C69;
    color: #ffffff;
    text-align: center;
    max-width: 900px;
    font-size: .8em;
}

#map {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.contact_information {
    background-color: #BAB2B5;
    color: #000000;
    padding: 30px;
    line-height: .2em;
}

#social-icons {
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#botom_footer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#botom_footer a {
    color: #ffffff;
}