body {
    max-width: 940px;
    margin: 0 auto;
    background-color: white;
    padding: 0em;
}

#content {
    width: 600px;
}

header {
    background-color: #85C1E9;
    color: #FFFFFF;
    padding-left: 80px;
    height: 80px;
    border-radius: 15px;
    width: 700px;
}

main {
    padding-left: 10px;
}

img {
    float: right;
    border-radius: 20px;
}

footer {
    background-color: #85C1E9;
    color: #FFFFFF;
    text-align: center;
    font-size: 80%;
    height: 50px;
    border-radius: 15px;
    width: 700PX;
}

#update_date,
#current_date {
    color: #f7e290;
}